.tittle {
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-left: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
@media screen and (max-width: 800px) {
    .tittle {
        font-size: 30px;      
}
}